  <%= form_for @run, class: 'form-group', method: method do |f| %>
      <%= form_errors_for @run %>

      <div class="input-group">
        <%= f.label :distance, 'Distance (in km)' %>
        <%= f.number_field :distance, value: 0, step: :any, required: true, class: 'form-control' %>
      </div>

      <div class='input-group date'>
        <%= f.label :duration, 'Duration' %>
        <%= f.text_field :duration, required: true, class: 'form-control', id: 'time-picker' %>
      </div>

      <div class='input-group date'>
        <%= f.label :date %>
        <%= f.text_field :date, required: true, class: 'form-control', id: 'datetime-picker' %>
      </div>

      <%= f.submit submit, class: 'btn btn-primary pull-left' %>
  <% end %>
